{% extends 'revoltel_site/base.html' %}

{% block content %}
<style>
    .main-back img {
        width: 100%;
        height: 30vh;
    }

    @media (min-width: 40em) {

        .main-back img {
            height: 80vh;
        }
    }

    /* form */
    .contact-form-back{
        position: relative;
        height: 450px;
        width: 100%;
        background-color: white;
        
    }

    .contact-form{
        box-sizing: border-box;
        width: 250px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        
        top: -25px;
        z-index: 300;
        background-color:white;
        border: 5px solid #D67835;

    }
    .contact-heading h1{
        color: #5c2e0c;
        font-size: 1.4em;
        font-weight: 700;
        padding: 0.8em;
    }
    .contact-list{
        padding: 1em;
    }
    .contact-list label {
        color: #5C2E0C;
        display: inline-block;
        font-size: .65em;
        font-weight: 700;

    }

    .contact-list p {
        list-style-type: none;
        display: inline-block;
        font-size: 0.6em;
    }
    .contact input{
        width: 100%;
        font-weight: 700;
        font-size: 1em;
        padding: 0.4em;
        background-color:#FFF5E9 ;
        border-color: #D67835;
        border-style: solid;

    }
    .contact textarea{
        width: 100%;
        height: 50px;
        font-weight: 700;
        font-size: 1em;
        padding: 0.2em;
        background-color:#FFF5E9 ;
        border-color: #D67835;
        border-style: solid;
    }

    .submit-button{
        border: none;
        border-radius: 5px;
        background-color: #D67835;
        padding:0.5em 1em;
        color: #FFF5E9;
    }
    .submit-button:hover{
        
        background-color: #5c2e0c;
    }
    @media (min-width: 40em){
        .contact-form-back{
            height: 400px;
        }
        .contact-form{
            width: 400px;
            top: -50px;
        }
        .contact-list label{
            font-size: 1.2em;
        }
        .contact input{
            font-size: 1.4em;
        }
        .contact-heading h1{
            font-size: 1.8em;
        }
    }
    /* contact-us */
    .contact-us img {
        width: 100%;
        height: auto;
    }

    .contact-us p {
        font-size: .6em;
        font-weight: 700;
        color: #D67835;
        
    }

    .contact-us-box {
        padding: 2em;
        font-size: .9em;
        /* border: 5px solid #5c2e0c; */
    }

    @media (min-width: 40em) {
        .contact-us img {
            width: 60%;

        }

        .contact-us p {
            font-size: 1.2em;

        }

        .contact-us-box {
            padding: 2em;
            border: 5px solid #5c2e0c;
        }

    }
    /* social media platforms */
    .social-media-platforms{
        margin: 5em 0em;
    }
    .social-media-platforms h1{
        font-size: 1.2em;
        font-weight: 600;
        color: #5C2E0C;
    }
    .social-media-platforms img{
        width: 60px;
        height: 60px;
        background-color: white;
        padding: .5em;

    }
    @media (min-width: 40em){
        .social-media-platforms h1{
            font-size: 2em;
        }
        .social-media-platforms img{
            width: 90px;
            height: 90px;
            padding: 1em;
        }
    }
    /* location */
    .location-logo img {
        width: 100px;
        height: auto;
    }

    .office-address {
        background-color: #FFF5E9;
        padding-top: 1em;
        padding-bottom: 2em;
    }

    .office-address h1 {
        font-size: 1.4em;
        margin: 1em;
        color: #5c2e0c;
    }

    .office-address p {
        font-size: .8em;
        text-align: left;
        margin-bottom: 0em;
        margin-left: 1em;
    }

    .address-heading {
        font-weight: 700;
    }

    @media (min-width: 40em) {
        .location-logo img {
            width: 200px;
        }

        .office-address h1 {
            font-size: 1.55em;
            font-weight: 600;
        }

        .office-address p {
            font-size: 1em;
        }
    }
</style>
<div class="main-back">
    <img src="https://res.cloudinary.com/darshan1999/image/upload/v1606237201/RevolTel/Other_pages/Contact_us_tove82.jpg" alt="">
    <div class="contact-form-back">
    <div class="contact-form">
     <form  method="POST">
        {% csrf_token %}
        <div class="">
            <div class=" contact-list">
                <div class="text-center contact-heading">
                    <h1>Send Your Query</h1>
                </div>
                <div class="row ">
                    <div class="col-6"><label for="name">Full Name</label></div>
                    <div class="col-6"><p id="name" class="contact" >{{ form.name }}</p></div>
                    
                </div>
                <div class="row ">
                    <div class="col-6"><label for="mobile">Mobile Number</label></div>
                    <div class="col-6"><p id="mobile" class="contact">{{ form.mobile }}</p></div>
                    
                </div>
                <div class="row ">
                    <div class="col-6"><label for="email">Email</label></div>
                    <div class="col-6"><p id="email" class="contact">{{ form.email }}</p></div>
                    
                    
                </div>
                <div class="row ">
                    <div class="col-6"><label for="co_name">Company Name</label></div>
                    <div class="col-6"><p id="co_name" class="contact">{{ form.co_name }}</p></div>
                    
                </div>
                <div class="row ">
                    <div class="col-6"><label for="subject">Message</label></div>
                    <div class="col-6"><p id="message" class="contact">{{ form.message }}</p></div>
                    

                    
                </div>

                <div class="text-center">
                    <input type="submit" class="submit-button" value="Submit">
                </div>

            </div>
        </div>

    </div>

    </form>       
    </div>

</div>
<div class="container text-center">
    <div class="row text-center contact-us">
        <div class="col-6">
            <img src="https://res.cloudinary.com/darshan1999/image/upload/v1606237872/RevolTel/Other_pages/contact_dnfygj.jpg" alt="">
        </div>
        <div class="col-6 d-flex align-items-center justify-content-center">
            <div class="contact-us-box">
                <p>Phone: +91 7071757570</p>

                <p class="py-3" style="border-bottom: 1px solid #5c2e0c; border-top: 1px solid #5c2e0c;">Email:
                    sales@revoltel.in</p>

                <p>www.revoltel.in</p>
            </div>
        </div>

    </div>
    <div class="social-media-platforms">
        <h1>Connect to Us with Social Media</h1>
        <div class="">
            <a href="https://www.linkedin.com/company/66328535/admin/"><img src="https://res.cloudinary.com/darshan1999/image/upload/v1606236662/RevolTel/Logos/linkedin_gfqngp.png" alt=""></a>
            <a href="https://www.facebook.com/RevolTel"><img src="https://res.cloudinary.com/darshan1999/image/upload/v1606236662/RevolTel/Logos/facebook_ymj4ok.png" alt=""></a>
            <a href="https://www.instagram.com/revolteltechnologiespvtltd/?hl=en"><img src="https://res.cloudinary.com/darshan1999/image/upload/v1606236663/RevolTel/Logos/Instagram_l6aiop.png" alt=""></a>
            
        </div>
    </div>
    <div class="location-logo mt-5">
        <img src="https://res.cloudinary.com/darshan1999/image/upload/v1606237873/RevolTel/Other_pages/location_g9e9pw.png" alt="">
    </div>
    <div class="row row-cols-1 row-cols-md-3 mt-3">
        <div class="col office-address">
            <div class="">
                <h1>Corporate Office</h1>
                <p class="address-heading">RevolTel Technologies pvt ltd</p>
                <p> 315, 3rd Floor,Sonigara Landmark,</p>
                <p>Chatrapati Shivaji chowk, Wakad, Pune,</p>
                <p> Maharashtra 411057</p>
            </div>
        </div>
        <div class="col office-address" style="background-color: #FFF5E9;">
            <div class="">
                <h1>Branch Office Kerela</h1>
                <p class="address-heading">RevolTel Technologies pvt Ltd,</p>
                <p> #24/325, Puthenpurackal building,</p>
                <p> Opposite to BSNL Telecom Staff quarters Thukalassery Thiruvalla, PO- PATHANAMTHITTA,</p>
                <p> Kerala 689101</p>

            </div>
        </div>
        <div class="col office-address">
            <div class="">
                <h1>Branch Office Coimbatore </h1>
                <p class="address-heading">RevolTel Technologies pvt ltd</p>
                <p> 1-a, iddikarai main road,</p>
                <p> TNP Nagar, Thudiyalur,</p>
                <p> Tamil Nadu 641034</p>
            </div>
        </div>
    </div>
</div>
{% endblock  %}